<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Agregar Pacientes</title>
        <link rel="stylesheet" href="../../styles/components.css">
    </head>
    <body>
        <!--header-->
        <div id="header-container"></div>
        <main>
            <div class="agregar-paciente-titulo">
                <h2>AGREGAR A UN NUEVO PACIENTE</h2>
            </div><br><br>
                <div class="agregar-paciente-general">
                <form id="form-paciente">
                    <!--No c explota-->
                    <div class="curp-paciente">
                        <label for="curp">CURP:</label>
                        <input type="text" id="curp" name="curp" maxlength="18" required placeholder="Ej: GOXJ900305HSRMPV59">
                    </div>
                    <div class="ine-paciente">
                        <label for="ine">INE:</label>
                        <input type="text" id="ine" name="ine" required placeholder="Ej: no encontre xd">
                    </div>
                    <div class="nombre-paciente">
                        <label for="nombre_completo">Nombre Completo:</label>
                        <input type="text" id="nombre_completo" name="nombre_completo" required placeholder="Ej: Enrique Ozuna Yandel Timoteo Torres Mojica">
                    </div>
                    <div class="direccion-paciente">
                        <label for="direccion">Dirección:</label>
                        <input type="text" id="direccion" name="direccion" required placeholder="Ej: Plaza Sesamo Calle los papuinsanos #67">
                    </div>
                    <div class="edad-paciente">
                        <label for="edad">Edad:</label>
                        <input type="number" id="edad" name="edad" required placeholder="Ej: 25">
                    </div>
                    <div class="peso-paciente">
                        <label for="peso">Peso (kg):</label>
                        <input type="number" id="peso" name="peso" required placeholder="Ej: 70 kg">
                    </div>
                    <div class="estatura-paciente">
                        <label for="estatura">Estatura (cm):</label>
                        <input type="number" id="estatura" name="estatura" required placeholder="Ej: 172 cm">
                    <div class="descripcion-paciente">
                        <label for="descripcion_paciente">Descripción Médica:</label>
                        <textarea id="descripcion_deestado" name="descripcion_deestado" required placeholder="Ej: Tenia cancer Andy"></textarea>
                    </div>
                    <!--separacion jejejejfhiueftncyaily4wnla-->
                        <div class="botones-medico">
                        <button type="submit" class="agregar-medico">Agregar</button>
                        <button onclick="location.href='../Personal_Recepcion/pacientes.html'" class="cancelar-medico">Cancelar</button>
                        </div>
            </form>
        </label>
            </div>
        </main>
        <!--footer-->
        <div id="footer-container"></div>
        <script type="module">
            import { PacienteController } from '/src/controllers/PacienteController.js';

            const form = document.getElementById("form-paciente");

            form.addEventListener("submit", async (e) => {
                e.preventDefault();

                const paciente = {
                    curp: form.curp.value,
                    ine: form.ine.value,
                    nombre_completo: form.nombre_completo.value,
                    direccion: form.direccion.value,
                    edad: form.edad.value,
                    peso: form.peso.value,
                    estatura: form.estatura.value,
                    descripcion_deestado: form.descripcion_deestado.value,
                };
                const {data,error} = await PacienteController.crearPaciente(paciente);
                if(error){
                    alert("no se pudo agregar al paciente");
                    console.error('Revisa tus cosas chica',error);
                    return;
                }
                alert("Paciente agregado exitosamente");
                window.location.href = "pacientes.html";
            });
        </script>
        <script>
        //cargar header
        fetch('/header.html')
        .then(response => response.text())
        .then(data => {
            document.getElementById('header-container').innerHTML = data;
        })
        .catch(error => console.error('Error al cargar el header', error));
        //cargar footer
        fetch('/footer.html')
        .then(response => response.text())
        .then(data => {
            document.getElementById('footer-container').innerHTML = data;
        })
        .catch(error => console.error('Error al cargar el footer', error));
        </script>
    </body>
    </html>