<!--funciona el link-->
<!DOCTYPE html>
<html lang="es">
    <head>
       <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Clinica Simi - Recepcion</title>
        <link rel="stylesheet" href="../../styles/components.css"> 
         <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js/dist/umd/supabase.min.js"></script>
    <script>
      (async () => {
        try {
          const response = await fetch('/api/supabase-config');
          const config = await response.json();
          
          window.supabase = window.supabase.createClient(config.url, config.anonKey);
          window.supabaseLoaded = true;
          console.log('Supabase inicializado desde servidor');
        } catch (e) {
          console.error('Error cargando config de Supabase:', e);
          window.supabaseLoaded = false;
        }
      })();
    </script>
    </head>
    <body>
        <!--Header-->
        <div id="header-container"></div>
        <main>
        <div class="encabezado-recepcion">
            <h1 id="titulo-area-pacientes">Bienvenid@ recepcionista de sucursal [nombre_sucursal]</h1>
            <p>Pacientes de la clinica</p>
            <div class="botones-paciente">
            <button class="botonregreso" onclick="location.href='../sucursales/bienvenido.html'">Regresar</button>
            <button class="botonagregar" onclick="location.href='agregarpacientes.html'">Agregar paciente</button>
            <button id="btn-cerrar-sesion" class="botonregreso" aria-label="Cerrar sesión">Cerrar Sesión</button>
        </div>
    </div>
        <div class="tabla-pacientes">
            <h2>Pacientes de todas las clinicas</h2>
            <table>
                <thead>
                    <tr>
                        <th>Curp</th>
                        <th>Ine</th>
                        <th>Nombre Completo</th>
                        <th>Direccion</th>
                        <th>Edad</th>
                        <th>Peso</th>
                        <th>Estatura</th>
                        <th>Descripcion de estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        </main>
        <!--footer-->
        <div id="footer-container"></div>
        <script type="module" defer>
            //importo controlador
            import {PacienteController} from '/src/controllers/PacienteController.js';
            import { AuthController } from '/src/controllers/AuthController.js';

            if (!AuthController.verificarSesion() || !AuthController.verificarTipoUsuario('recepcionista')) {
                window.location.href = '../Login/login.html';
            }
            //cargar pacientitos
            //document.addEventListener("DOMContentLoaded",cargarPacientes);
            cargarPacientes();
            
            //la funcion para cargarlos
            async function cargarPacientes(){
                try{
                    const {pacientes,error} = await PacienteController.cargarPacientes();
                    if(error){
                        console.error('No se pudo cargar a los pacientes',error)
                        return;
                    }
                    renderizarPacientes(pacientes);
                }
                catch(error){
                    console.error('Error',error);
                }
                async function renderizarPacientes(pacientes) {
                    const tbody = document.querySelector("tbody");
                    tbody.innerHTML = "";//tablita limpia
                    //que mensaje da si no hay nada en la tabla 
                    if(!pacientes || pacientes.length === 0){
                        tbody.innerHTML = ` <tr><td colspan="9">No hay pacientes en las clinicas</td></tr>`;
                        return;
                    }
                    pacientes.forEach(paciente => {
                        const tr = document.createElement("tr");
                        tr.innerHTML = `
                        <td>${paciente.curp}</td>
                        <td>${paciente.ine}</td>
                        <td>${paciente.nombre_completo}</td>
                        <td>${paciente.direccion}</td>
                        <td>${paciente.edad}</td>
                        <td>${paciente.peso}</td>
                        <td>${paciente.estatura}</td>
                        <td>${paciente.descripcion_deestado}</td>
                        <td>
                            <button class="seleccionar-paciente" data-curp="${paciente.curp}" data-nombre_completo="${paciente.nombre_completo}">Seleccionar Paciente</button>
                            <button class="actualizar-estado" data-curp="${paciente.curp}" data-nombre_completo="${paciente.nombre_completo}">Actualizar Estado</button>
                            <button class="editar-paciente" data-curp="${paciente.curp}" data-nombre_completo="${paciente.nombre_completo}">Editar Paciente</button>
                            <button class="eliminar-paciente" data-curp="${paciente.curp}">Eliminar Paciente</button>
                        </td>
                        `;
                        tbody.appendChild(tr);
                        
                    });
                    activarBotones();
                }
                async function activarBotones() {
                    //boton para actualizar estado
                    document.querySelectorAll(".actualizar-estado").forEach(btn => {
                    btn.addEventListener("click", () => {
                        localStorage.setItem("curp",btn.dataset.curp);
                        localStorage.setItem("nombre_completo",btn.dataset.nombre_completo);
                        location.href = "actualizar-estado.html";
                    });
                });
                    //boton para ir a ver citas del paciente
                    document.querySelectorAll(".seleccionar-paciente").forEach(btn => {
                    btn.addEventListener("click", () => {
                        localStorage.setItem("curp",btn.dataset.curp);
                        localStorage.setItem("nombre_completo",btn.dataset.nombre_completo);
                        location.href = "cita-paciente.html";
                    });
                });
                    //boton para editar
                    document.querySelectorAll(".editar-paciente").forEach(btn => {
                    btn.addEventListener("click", () => { 
                        localStorage.setItem("curp",btn.dataset.curp);
                        localStorage.setItem("nombre_completo",btn.dataset.nombre_completo);
                        location.href = "editarpacientes.html";
                    });

                });
                    //boton para borrar
                document.querySelectorAll(".eliminar-paciente").forEach(btn => {
                btn.addEventListener("click", async () => {

                const curp = btn.dataset.curp;

                if (!confirm("¿Segurísima que quieres borrar?")) return;

                const { success, error } = await PacienteController.eliminarPaciente(curp);

                if (success) {
                alert("Se eliminó al paciente");
                cargarPacientes();
                } else {
                alert("No se pudo eliminar");
                }
                });
                });

                }
                }

            const btnCerrarSesion = document.getElementById('btn-cerrar-sesion');
            if (btnCerrarSesion) {
                btnCerrarSesion.addEventListener('click', () => {
                    AuthController.cerrarSesion();
                });
            }

        </script>
        <script>
            //cargar header
            fetch('../../../header.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('header-container').innerHTML = data;
            })
            .catch(error => console.error('Error al cargar el header:', error));
            //cargar footer
            fetch('../../../footer.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('footer-container').innerHTML = data;
            })
            .catch(error => console.error('Error al cargar el footer:', error));
            //para que diga el nombre de la sucursal
            window.addEventListener('DOMContentLoaded', () => {
            const sucursalNombre = localStorage.getItem('sucursalNombre') || 'Sucursal';
            const titulo = document.getElementById('titulo-area-pacientes');
            if (titulo) {
            titulo.textContent = `Bienvenid@ recepcionista de sucursal: ${sucursalNombre}`;
            }
            });
        </script>
    </body>
</html>