<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmacia Simi - Sucursales</title>
    <link rel="stylesheet" href="../../styles/components.css">
</head>
<body>
<!-- Aquí se cargará el header -->
    <div id="header-container"></div>

<main class="sucursales-main">
    <div class="sucursales-header">
        <h1>Sucursales</h1><br>
        <p>Por favor seleccione la sucursal en la que trabaja</p>
    </div>
    
    <div class="sucursales-aparicion">
    <div class="sucursales-container" id="sucursales-container">
        <!-- Las sucursales se cargarán aquí cuando tenamos suicursales registradas en nuestra base de datos obvio vamos a acregar un evento 
         que suceda cada que se le haga click a alguna sucursal pase a nuestra siguiente vista con los datos de la sucursale que sea elegida entendido? -->
    </div></div>
</main>

    <!-- Aquí se cargará el footer -->
    <div id="footer-container"></div>

    <!-- SCRIPT PARA CARGAR HEADER Y FOOTER -->
    <script>
    // Cargar header
    fetch('../../../header.html')
        .then(response => response.text())
        .then(data => {
            document.getElementById('header-container').innerHTML = data;
        })
        .catch(error => console.error('Error cargando header:', error));
    
    // Cargar footer
    fetch('../../../footer.html')
        .then(response => response.text())
        .then(data => {
            document.getElementById('footer-container').innerHTML = data;
        })
        .catch(error => console.error('Error cargando footer:', error));
    </script>

    <!-- Script para inicializar el controlador  si asi es java -->
    <script type="module">
        import { SucursalController } from '../../controllers/SucursalController.js';
        

        document.addEventListener('DOMContentLoaded', () => {
            SucursalController.inicializar();
        });
    </script>

</body>
</html>

